// 版面尺寸，用于响应式
$widthDesktop: 1140px;

// 字体大小
$fontSizeBody: 15px;

// 颜色
$mainColor: #1d7fd8;
$backgroundColor: #fbfbfb;
$colorYellow: #ffb600;
$colorOrange: #ff9900;
$colorGreen: #50e3c2;
$bodyTextColor: #495060;
$colorGray: #80848f;
$colorBlue: #2b85e4;
$colorRed: #fd6d70;
$colorLightBlue: #5cadff;
$borderColor: #eee;
$lightBorderColor: #f5f5f5;

// 其他
$border: 1px solid $borderColor;
$lightBorder: 1px solid $lightBorderColor;
